body {
    font-family:'Arial', sans-serif;
    color: #f6f8f27c;
    background-color:#383838;
}

.navbar {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;

}

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
}