
html{
    scroll-behavior: smooth;
    
}

body {
    font-family:'Arial', sans-serif;
    color: #f6f8f2;
    background-color:#383838;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

hr {
    border: 0;
}

p {   
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    
}

.navbar {
    margin-bottom: 0px;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    
    background: linear-gradient(to top, #b3b3b3, #d9d9d9);
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    color: white;
    /*font-weight: bold;*/
}

.navbar .nav-link:hover {
    color: #e0e0e0;
}

header{
    background-image: url(/img/bg_shakker_01.png);
    position:relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;  
}


header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255,255,255,0.7)
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}


section {
    padding: 80px 20px;
    min-height: 100vh;
}

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
}

#about { 
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    position:relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#areas { 
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    position:relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#portfolio { 
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    position:relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#contacts { background-color: #fff; }


#about .about_paragraph {
    text-align: left;
}

#about .col-lg-8 {
    max-width: 800px; /* Prevents text from being too wide */
}

.profile-picture {
    width: 300px; /* Defina a largura desejada */
    height: 300px; /* Defina a altura desejada */
    max-width: 100%; /* Evita que a imagem fique maior que o contêiner */
    max-height: 100%; /* Evita que a imagem fique maior que o contêiner */
    border: 5px solid #fff; /* Cor e espessura da borda */
    border-radius: 50%; /* Torna o contêiner circular */
    padding: 5px; /* Espaçamento entre a imagem e a borda */
    background: linear-gradient(to right, #52b2bf, #1f456e, #0a1172, #1338be, #3944bc);/* Blue Gradiente */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Torna a imagem circular */
  }

  .gap-3 a {
    margin: 5px;
}

#areas .areas-content .areas-content-inner h1{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(33,33,33,0.7);
}

#areas .areas-content .areas-content-inner hr {
    margin: 10px auto;
}

#areas .areas-content .areas-content-inner p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(33,33,33,0.7);
}

#portfolio .portfolio-content .portfolio-content-inner h1{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(33,33,33,0.7);
}

#portfolio .portfolio-content .portfolio-content-inner hr {
    margin: 10px auto;
}

#portfolio .portfolio-content .portfolio-content-inner p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(33,33,33,0.7);
}



.card {
    background: linear-gradient(135deg, #d4d4d4, #b0b0b0, #8c8c8c);
    color: white;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    color: #e0e0e0;
}

.card-img-top {
    height: 200px; /* Ajuste conforme necessário */
    object-fit: cover;
} 

.card-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #212121;
}

.card-text {
    font-size: 16px;
    font-weight: 100;
    color: #212121;
}

#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(/img/bg_shakker_09.png);
    position:relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-reapeat;
}

#contacts .contacts-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

#contacts .contacts-content .contacts-content-inner h1{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(33,33,33,0.7);
}

#contacts .contacts-content .contacts-content-inner hr {
    margin: 30px auto;
}

#contacts .contacts-content .contacts-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(33,33,33,0.7);
}

.copyright {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #666;
}